<div class="login-body">
  <div class="card ">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <app-logo></app-logo>
      <p class="fw-bold mt-3">Şifrenizi sıfırlamak istediğiniz mail adresini giriniz.</p>
      <form class="w-100">
        <app-textbox  [formGroup]="passwordResetForm" formControlName="email" type="email" labelText="Email"
        placeholder="Kayıtlı email adresinizi giriniz.">
      </app-textbox>
        <button class="btn btn-primary w-100" routerLink="/login">Şifremi Sıfırla</button>
        <div class="mt-3 d-flex justify-content-center">
          <a class="link-opacity-75-hover text-decoration-none" routerLink="/login">Veya Giriş Yapın</a>
        </div>
      </form>
    </div>
  </div>
</div>
