<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between " style="height:65px">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/logo.svg" width="200" height="40" class="d-inline-block align-top" alt="logo">
  </a>
  <button type="button" class="btn btn-transparent px-3" (click)="logout()"><img width="30" height="30" src="../../../assets/images/logout.svg"/></button>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
