<div class="login-body">
  <div class="card ">
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <app-logo></app-logo>
      <p class="mt-3">Google Maps'e hoşgeldiniz.</p>
      <form [formGroup]="loginForm" class="w-100" (keyup.enter)="loginForm.valid && login()">
        <app-textbox  [formGroup]="loginForm" formControlName="email" type="email" labelText="Email"
          placeholder="Kayıtlı email adresinizi giriniz.">
        </app-textbox>
        <app-textbox [formGroup]="loginForm" formControlName="password" type="password" labelText="Şifre"
          placeholder="Şifrenizi giriniz">
        </app-textbox>
        <div class="mb-3 d-flex justify-content-end">
          <a class="link-opacity-75-hover text-decoration-none" routerLink="/forgot-password">Şifremi Unuttum</a>
        </div>
        <app-spinner-button spinnerClass="text-white" [loading]="loading" [disabled]="loading || loginForm.invalid"
          class="w-100" type="button" text="Giriş Yap" classes="btn btn-primary w-100" (onClick)="login()">
        </app-spinner-button>
      </form>
    </div>
  </div>
</div>
